<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yb.jckglxt.project.dao.UrlMapper">

    <resultMap id="menu" type="com.yb.jckglxt.project.domain.Menu">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="title" column="title"/>
        <result property="url" column="url"/>
        <result property="icon" column="icon"/>
        <result property="p_id" column="p_id"/>
        <result property="rank" column="rank"/>
    </resultMap>



    <select id="menuList" resultMap="menu">
        select * from menu
    </select>

</mapper>